/* General */
* { 
    font-family: Inconsolata;  
    color: #333;
    margin: 0;
    padding: 0;
}
body { 
    padding: 10px; 
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT serif';
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold;
}
h1 { font-size: 3em; }
h3 { font-size: 2em; }
h4 { font-size: 1.2em; }
p {
    font-family: 'Poppins';
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
}
a { text-decoration: none; }
a, a:visited, a:focus { color: #4a4a4a; }
a:active, a:hover { color: #727272; }
footer a:hover { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
.center-text { text-align: center; }
.clear { 
    clear: both;
    margin-bottom: 20px; 
}



/* Overrides */




/* -page name- Design */



/* Queries */
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .clear { margin-bottom: 2%;  }
    h1 { font-size: 2.4em; }
    h3 { font-size: 1.4em; }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .clear { margin-bottom: 2%; }
    h1 { font-size: 2.4em; }
    h3 { font-size: 1.4em; }
}